#screenshot-carousel{
    max-width: 1024px;
    margin: auto;
}
body{
    background: #5c7373;
}


#general{
   
 margin: auto;
 margin-top: 60px;
    
    width: 1000px;
    height:300px;
    border: 1px solid black;
    
}
#izquierdo{
    
    float: left;
    width: 498px;
    height: 300px;
    
   
}
#derecho{
   float: right;
    width: 498px;
    height: 300px;
    animation-name:  e087;
  
}
#l6{
    width: 498px;
    height: 300px;
}

